.wrapper {
    width: 100%;
    margin: 0px auto;
}

.kanban {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}
.columns {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.rows {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .wrapper {
        width: 1158px;
    }
    .kanban {
        flex-direction: row;
    }
    .columns {
        display: flex;
        text-align: center;
        width: 300px;
    }
}
