.task {
    align-items: flex-start;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
.task-title {
    font-size: 1.2em;
    font-weight: 700;
    text-align: left;
}
.task-actions {
    align-self: flex-end;
    display: flex;
    gap: 30px;
}

.task-item {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -50px -50px 0px -30px rgba(0, 0, 0, 0);
    background-color: #ffffff;
    border-left: solid 10px #a7a7a7;
    box-shadow: 0px 10px 13px -7px #000000, -50px -50px 0px -30px rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px 20px 20px 20px;
}

input.taks-description {
    width: 100%;
    padding: 20px 10px;
    margin-bottom: 20px;
    border: 1px solid #888888;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}
